<template>
    <v-container>
        <v-row>
            <v-col>
                <v-data-table
                    multi-sort
                    hide-default-footer
                    mobile-breakpoint="0"
                    :loading="loading"
                    :headers="stageRankingHeaders"
                    :items="orderedStageRanking"
                    :items-per-page="16"
                    :sort-by="['matchDiff', 'mapDiff']"
                    :sort-desc="[true, true]"
                >
                    <template v-slot:item="{ item, index }">
                        <tr :class="index <=7 ? 'success' : 'warning'">
                            <td>{{ index + 1 }}</td>
                            <td>{{ item.rank }}</td>
                            <td>{{ item.name }}</td>
                            <td>{{ item.matchWins }}</td>
                            <td>{{ item.matchLosses }}</td>
                            <td>{{ item.matchDiff }}</td>
                            <td>{{ item.mapWins }}</td>
                            <td>{{ item.mapLosses }}</td>
                            <td>{{ item.mapDiff }}</td>
                            <td>{{ item.points }}</td>
                        </tr>
                    </template>
                </v-data-table>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
import { mapGetters, mapState } from "vuex";
export default {
    computed: {
        ...mapGetters(["orderedStageRanking"]),
        ...mapState(["stageRankingHeaders", "loading"])
    }
};
</script>
