<template>
    <v-app>
        <v-app-bar app>
            <v-spacer></v-spacer>

            <v-btn icon :title="darkLightIconExplain" @click="toggleThemeDark">
                <v-icon>{{ darkLightIcon }}</v-icon>
            </v-btn>
        </v-app-bar>

        <v-main>
            <QplResult />
        </v-main>
    </v-app>
</template>

<script>
import { mapActions } from "vuex";
import QplResult from "@/components/QplResult";

export default {
    components: {
        QplResult
    },
    computed: {
        darkLightIcon() {
            return this.$vuetify.theme.dark
                ? "mdi-weather-sunny"
                : "mdi-weather-night";
        },
        darkLightIconExplain() {
            return this.$vuetify.theme.dark
                ? "Enable light theme"
                : "Enable dark theme";
        }
    },
    created() {
        this.fetchStageRanking();
    },
    methods: {
        toggleThemeDark() {
            this.$vuetify.theme.dark = !this.$vuetify.theme.dark;
            localStorage.setItem(
                "prefersColorSchemeDark",
                this.$vuetify.theme.dark
            );
        },
        ...mapActions(["fetchStageRanking"])
    }
};
</script>
